.header{ width: 100%;
    background-color: black;
    color: whitesmoke;
    display: flex;
    cursor: pointer;

}
.header ul{
    display: flex;
    margin-left:300px ;
}
.header ul li{
    text-decoration: none;
    padding-left: 40px;
    justify-content: center;
    list-style: none;

}
.header ul li a{
    text-decoration: none;
    color:white;
}
.header ul button{
    border-color: yellow;
    background-color: black;
    color: yellow;
   
}
.center{
    display: flex;
 align-items: center;
justify-content: center;
color: whitesmoke;
color: red;
/* position: relative; */
}
{
/* h1{ justify-content: center; */
 /* position: absolute; */
 top: 50px;
 left: 400px;

}