.header{
    background-color: black;
    color: whitesmoke;
    display: flex;
    cursor: pointer;

}
.header ul{
    display: flex;
    margin-left:300px ;
}
.header ul li{
    text-decoration: none;
    padding-left: 40px;
    justify-content: center;
    list-style: none;

}
.header ul li a{
    text-decoration: none;
    color:white;
}
.header ul button{
    border-color: yellow;
    background-color: black;
    color: yellow;
   
}
.fac{
    background: url(./assist/fac.png);
    background-color: rgb(49, 47, 47);
    height: 80vh;
    width: 100%;

}
.ser{
    text-align: center;
    color: white;
    padding-top: 15rem;
}



.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    color: white;
    background-color: rgb(70, 69, 69);
    height: 40vh;
    padding-left: 10rem;
}